{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <title>DiziWom</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{% url 'index' %}">DiziWom</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Ana Sayfa <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'diziler' %}">Diziler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">İletişim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hakkımızda</a>
          </li>
        </ul>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Bir dizi ismi giriniz.." aria-label="Search" />
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Ara</button>
        </form>
      </div>
    </nav>
    <div class="container">
      <h1>Dizi Detayları</h1>
      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-4">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'img/'|add:dizim.dizi_gorsel %}" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">{{ dizim.dizi_adi }}</h5>
                  <p class="card-content">{{ dizim.dizi_konusu }}</p>
                  <p class="card-imbd">{{ dizim.dizi_imbd }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
